<div class="article-post">
<h1><%= @article.title %></h1>
<% if can? :update, @article %>
<div>
  <%= link_to "編輯", edit_article_path(@article), class:'btn btn-success' %>
  <%= link_to "刪除", @article, method: :delete, class: 'btn btn-danger' %>
</div>
<% end %>
<div>
  <p> <%= @article.user.email %>
    <%= @article.created_at.strftime("%F %R") %>
  </p>
   <%= sanitize  @article.content %>
</div>
</div>
